<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <h1>Inserting</h1>
    <form action="/add" method="post">
            <input type="text" name="concursoadd" placeholder="concurso">
            <input type="text" name="diaadd" placeholder="dia">
            <input type="text" name="mesadd" placeholder="mes">
            <input type="text" name="anoadd" placeholder="ano">
            <input type="text" name="n1add" placeholder="n1">
            <input type="text" name="n2add" placeholder="n2">
            <input type="text" name="n3add" placeholder="n3">
            <input type="text" name="n4add" placeholder="n4">
            <input type="text" name="n5add" placeholder="n5">
            <input type="text" name="n6add" placeholder="n6">
        <button type="submit">Add</button>
    </form>
    
    
</body>
</html>